<div class="main">
  <div class="navbar">
      <div class="icon">
          <h2 class="logo">Toonmics</h2>
      </div>

      <div class="menu">
          <ul>
              <li><a routerLink="/home">HOME</a></li>

              <li><a routerLink="/contact">CONTACT</a></li>
          </ul>
      </div>



  </div>
  <header>
    <div class="quote"><marquee>{{quote}}</marquee></div>
  </header>
  <div class="content">
    <div class="right">
<p style="color:black">Welcome </p> <p style="color:rgba(255,0,0)">Weebs</p>
<p style="color:black">Here You Can Read Your Favourite Comics & Manga At Zero Cost.<br>Hope You Can You Have Best Comical Ride.<br></p>
 <p style="color: rgba(255,0,0);" >Let's Escape From Reality!!!</p><br><br>
 <p style="color: black;" >Join us at Toonmics and embark on an extraordinary journey through the colorful and imaginative world of comics. Whether you're seeking thrilling adventures, heartfelt narratives, or artistic brilliance, our application is the ultimate destination for your comic reading needs. Experience the power of storytelling, the beauty of visuals, and the thrill of discovery—all in one place.
  <p style="color: rgba(255,0,0);" >Copyright © 2023 Toonmics. All rights reserved.</p><br><br>

</div>

      </div>
      <footer>
        <p>&copy; 2023 TOONMICS Inc. All rights reserved.</p>
      </footer>


