<div class="main">
  <div class="navbar">
      <div class="icon">
          <h2 class="logo">Toonmics</h2>
      </div>

      <div class="menu">
          <ul>
              <li><a routerLink="/home">HOME</a></li>

              <li><a routerLink="/index">LOGOUT</a></li>
          </ul>
      </div>



  </div>
  <header>
    <div class="quote"><marquee>{{quote}}</marquee></div>
  </header>
  <section class="contact-section">
    <h2>General Inquiries</h2>
    <p>Email:
    <a routerLink= "Mail To :infotoonmics@gmail.com">infotoonmics@gmail.com</a> </p>
    <p>Follow us on:</p>

      <p>Facebook:
        <a routerLink= "https://www.facebook.com/profile.php?id=100094265611706">Toonmics</a> </p>
        <p>Instagram:
          <a routerLink= "https://twitter.com/Toonmics">Toonmics</a> </p>
          <p>Twitter:
            <a routerLink= "https://instagram.com/toon.mics?igshid=ZDc4ODBmNjlmNQ==">Toonmics</a> </p>
    
  </section>

  <section class="contact-section">
    <h2>Technical Support</h2>
    <p>Email: support@toonmics.com</p>
  </section>

  <section class="contact-section">
    <h2>Content Requests</h2>
    <p>Email: content@toonmics.com</p>
  </section>

  <section class="contact-section">
    <h2>Media and Press</h2>
    <p>Email:toonmicsmedia@gmail.com </p>
  </section>

  <section class="contact-section">
    <h2>Business Partnerships</h2>
    <p>Email:toonmicspro@gmail.com</p>
  </section>

  <section class="contact-section">
    <h2>Careers</h2>
    <p>Visit our page for job opportunities.</p>
  </section>

  <section class="contact-section">
    <h2>Mailing Address</h2>
    <p>Toonmics Inc.<br>8/139 , II Trust Link Road<br>Mandhavalli, Chennai<br>India</p>
    <p class="note">Please note that this is not a customer support address. For customer support, please use the appropriate contact information provided above.</p>
  </section>

  <footer>
    <p>&copy; 2023 TOONMICS Inc. All rights reserved.</p>
  </footer>>
