<!--<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <header>
    <nav>
      <div class="logo">TOONMICS</div>
    </nav>
    <div class="hero">

      <h1>Explore the World of Comics</h1>
      <p>Read your favorite comics anytime, anywhere</p>
      <a routerLink="/login" class="btn">Get Started</a>
    </div>
  </header>
  <main>
    <section class="featured-comics-section">
      <h2>Featured Comics</h2>
      <div class="comic-list">
        <div class="comic-card">
          <div class="img"><img src="assets/ironman.jpeg" alt=""></div>
          <h3>IRON MAN | 2019</h3>
          <p class="comic-description">
                   Reality is in the eye of the beholder, as Tony Stark questions his humanity... while Jocasta is making the choice to leave her robotic body behind and upgrade to biological parts.</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/captainamerica.jpeg" alt=""></div>
          <h3>CAPTAIN AMERICA COMICS | 1941</h3>
          <p class="comic-description">Captain America and Bucky must battle a group of ageless monsters from the East who cannot be killed!</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/thor.jpeg" alt=""></div>
          <h3>KING THOR | 2019</h3>
          <p class="comic-description">Thor of the far future—All-Father of a broken realm and a dying universe—as he stood in battle against Gorr, the Butcher of Gods, wielder of All-Black the Necrosword.</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/batman.jpeg" alt=""></div>
          <h3>BATMAN WHO LAUGHS | 2019</h3>
          <p class="comic-description">Ripped from Batman’s greatest nightmares, the Grim Knight is his world’s most dangerous vigilante, unafraid to use any weapon and go to any lengths to stop those whom he deems worthy of death. Trained with the finest arsenal Wayne money can buy, learn the secret origin of the second-deadliest Batman, hand selected by the Batman Who Laughs to bring his dark plans to fruition.</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/superman.jpeg" alt=""></div>
          <h3>SUPERMAN | 2005</h3>
          <p class="comic-description">As Clark Kent settles back into his life, iconic and new enemies erupt from the shadows to strike down the Man of Steel! But waiting in the wings to back up Big Blue is…Supercorp? What secret project has Lex given to Superman?</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/flashpoint.jpeg" alt=""></div>
          <h3>FLASHPOINT | 1999</h3>
          <p class="comic-description">The Elseworlds miniseries starring a wheelchair-bound Flash concludes! What is the secret of the alien device that Barry Allen and Vandal Savage have plumbed the depths of space to find? And will it enable this Elseworld's first super-hero - the Flash - to find a happy ending?</p>
        </div>
      </div>
      <h2>Featured Mangas</h2>
      <div class="comic-list">
        <div class="comic-card">
          <div class="img"><img src="assets/luffy.jpeg" alt=""></div>
          <h3>ONE PIECE</h3>
          <p class="comic-description">ONE PIECE is a legendary high-seas quest unlike any other. Luffy is a young adventurer who has longed for a life of freedom ever since he can remember. He sets off from his small village on a perilous journey to find the legendary fabled treasure, ONE PIECE, to become King of the Pirates</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/naruto.jpeg" alt=""></div>
          <h3>NARUTO</h3>
          <p class="comic-description">Naruto Uzumaki, a young ninja who seeks recognition from his peers and dreams of becoming the Hokage, the leader of his village. The story is told in two parts—the first set in Naruto's pre-teen years, and the second in his teens</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/bleach.jpeg" alt=""></div>
          <h3>BLEACH</h3>
          <p class="comic-description">Ichigo Kurosaki is a teenager from Karakura Town who can see ghosts, a talent allowing him to meet a supernatural human Rukia Kuchiki, who enters the town in search of a Hollow, a kind of monstrous lost soul who can harm both ghosts and humans.</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/berserk.jpeg" alt=""></div>
          <h3>BERSERK</h3>
          <p class="comic-description"> Guts, a mercenary warrior drawn into the world of the God Hand, powerful beings who rule the supernatural realm. The story is set in the Kingdom of Midland, a fictional country inspired by medieval Europe</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/vagabond.jpeg" alt=""></div>
          <h3>VAGABOND</h3>
          <p class="comic-description">Growing up in 17th century Sengoku era Japan, Shinmen Takezou is shunned by the local villagers as a devil child due to his wild and violent nature. Running away from home with a fellow boy at age 17, Takezou joins the Toyotomi army to fight the Tokugawa clan at the battle of Sekigahara.</p>
        </div>
        <div class="comic-card">
          <div class="img"><img src="assets/parasite.jpeg" alt=""></div>
          <h3>PARASYTE</h3>
          <p class="comic-description">Shinichi Izumi, a high school senior who is the victim of a failed attempt by a parasyte organism to take over his brain. Instead of burrowing into his brain, the parasyte landed in his hand and matured partially up his arm.</p>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="about-us">
        <h4>About Us</h4>
        <p>We are passionate about providing a seamless and immersive reading experience for comic and manga enthusiasts. With our app, you can explore a vast collection of comics and manga from various genres, including superheroes, fantasy, romance, action, and more. Dive into captivating stories and stunning artwork that will keep you hooked for hours. Our mission is to bring offering a convenient and user-friendly platform to discover, read, and enjoy your favorite titles. Whether you're a casual reader or a die-hard fan, we've got something for everyone. Join our community of readers, interact with fellow comic enthusiasts, and stay updated on the latest releases. We're dedicated to delivering the best reading experience, continuously improving our app, and expanding our library with new and exciting content. Thank you for choosing our app to embark on your comic and manga reading journey. </p>
      </div>
      <div class="address">
        <h4>Contact Us</h4>
        <p>1234 Gandhi Street, Coimbatore, Tamil Nadu, India</p>
        <p>Email: toonmics@gmail.com</p>
        <p>Phone: 456-456-7890</p>
      </div>
      <div class="social-links">
        <ul>
          <li><a routerLink= "https://www.facebook.com/profile.php?id=100094265611706"><i class="fa fa-facebook"></i></a></li>
          <li><a routerLink= "https://twitter.com/Toonmics"><i class="fa fa-twitter"></i></a></li>
          <li><a routerLink= "https://instagram.com/toon.mics?igshid=ZDc4ODBmNjlmNQ=="><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
